<div class="container">
	<div class="row">
		<h1 class="center-align">All User-Shortened Links</h1>
	</div>	

	<div class="row center-align" id="home-btn">
		<a href="/"><button class="btn deep-orange lighten-3">Back to Homepage</button></a>
	</div>	

	<% myArray.forEach(function(item) { %>
		<div class="row center-align">
			<div class="col s6 offset-s3">
				<p class="truncate">Long Link: <a href="<%= item.url %>" id="links"><%= item.url %></a></p>
				<p>Shortened Link: <a href="<%= '/' + item.hash %>" id="links"><%= "localhost:3000/" + item.hash %></a></p>
				<p id="click">Click count: <%= item.clicks %></p>
			</div>	
		</div>	
	<% }); %>

</div>